@import '../../styles/variables.scss';

.task{
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   padding-top: 32px;

   &__top{
      display: flex;
      justify-content: flex-end;
      align-items: center;
   }
   &__sign{
      width: 38px;
      height: 38px;
      background: #FFFFFF;
      border: 2px solid $color-light;

      font-weight: 600;
      font-size: 40px;
      line-height: 30px;
      color: $color-black;
      text-align: center;

      margin: 26px 24px 0 0;
   }
   &__checkboxes{
      grid-column: 1/8; 
      display: grid;
      grid-template-columns: repeat(7, 75px);

      &_minus{
         .checkbox__input:checked + .checkbox__check::before{
            content: '-1';
         }
      }
   }
   &__numbers{
      display: grid;
      grid-template-columns: repeat(7, 75px);
      grid-template-rows: 36px 75px 75px;

      input[type="number"]{
         width: 75px;
         height: 75px;
         background: #FFFFFF;
         border: 2px solid $color-light;
         border-right: none;

         font-family: 'Inter';
         font-weight: 600;
         font-size: 48px;
         line-height: 75px;
         padding-left: 22px;
         color: $color-black;

         &:nth-child(8), &:nth-child(15){
            border-right: 2px solid $color-light;
         }

         &:focus{
            outline: none;
            border: 2px solid $color-main;
         }

         
      }
      input[type="number"].wrong{
         outline: 2px solid $color-red;
         outline-offset: -1px;
         z-index: 50;
      }

      label{
         justify-self: center;
      }

      //убираем нижнюю границу у первого ряда цифры
      input{
         &:nth-child(-n+8){
            border-bottom: none;
         }
      }
   }

   &__line{
      margin: 24px 0;
      width: 100%;
      height: 2px;
      background: $color-light;
      border: none;
   }
   &__answer{
      grid-template-rows: 75px;
      input{
         border-bottom: 2px solid $color-light !important;
         &:focus{
            border: 2px solid $color-main !important;
         }
         &:nth-child(7){
            border-right: 2px solid $color-light;
         }
      }
   }
}