@import '../../styles/variables.scss';

.app{
   &__header{
      padding: 24px;
      background-color: $color-light;
   }
   &__title{
      font-weight: 600;
      font-size: 32px;
      line-height: 42px;
      color: $color-black;
      text-align: center;
   }
   &__container{
      width: 808px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      padding-top: 72px;
   }
}

.mode{
   &__title{
      font-weight: 600;
      font-size: 28px;
      line-height: 36px;
      color: $color-main;
      margin-bottom: 20px;
   }
}

.main{
   &__change-task, &__verify{
      display: flex;
      justify-content: flex-end;
   }
   &__btn{
      margin-right: 24px;
   }
   &__verify{
      margin-top: 48px;
   }
   &__message{
      font-weight: 500;
      font-size: 20px;
      line-height: 26px;
      display: flex;
      align-items: center;
      margin-right: 32px;
      svg{
         width: 32px;
         height: 32px;
      }
      &_right{
         color: $color-green;
      }
      &_wrong{
         color: $color-red;
      }
   }
}

