@import "../../styles/variables.scss";

.task_multiply {
   .task__numbers {
      grid-template-rows: 75px 75px;

      input[type="text"] {
         border-bottom: none;
         &:focus {
            border: 2px solid $color-main !important;
         }
         &:nth-child(7n+7){
            border-right: 2px solid $color-light;
         }
         &:nth-last-child(-n+7) {
            border-bottom: 2px solid $color-light;
            &:disabled{
               border-bottom: 2px solid $color-disabled;
            }
         }
         &:nth-child(8), &:nth-child(15) {
            border-right: none;
         }
      }
   }
   .task__answer {
      grid-template-rows: 75px;
   }
   .task__sign {
      margin: 0 24px 0 0;
   }

   &__hint{
      width: 38px;
      height: 38px;
      border: 2px solid $color-light;
      position: absolute;
      top: 0;

      font-family: "Inter";
      font-size: 22px;
      line-height: 36px;
      padding-left: 10px;
      &:focus {
         outline: none;
         border: 2px solid $color-main;
      }
   }
   &__top{
      position: relative;
      height: 150px;
      display: flex;
      align-items: center;
   }
}
